---
---

<div class="jumbotron">
  <p class="lead">{{ site.description }}</p>
</div>
<hr />
<div class="album py-5">
    <div class="container">
        <div class="row">
        {% for project in site.projects %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"><a href="{{ project.link }}">{{ project.title }}</a></h4>
                </div>
                <div class="card-body">
                    <p>{{ project.content | remove: '<p>' | remove: '</p>' }}</p>
                    <p>{% for tag in project.tags %} <span class="badge badge-pill badge-secondary">{{ tag }}</span>{% endfor %}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
