---
---

<div class="jumbotron">
  <p class="lead">{{ site.description }}</p>
</div>

<div class="btn-group btn-group-toggle" data-toggle="buttons" id="filter_options_1">
  <label class="btn btn-secondary filterButton">
    <input type="radio" name="filter_options_1" value="tools" autocomplete="off" > tools
  </label>
  <label class="btn btn-secondary filterButton active">
    <input type="radio" name="filter_options_1" value="tools_guidance" autocomplete="off" checked> both
  </label>
  <label class="btn btn-secondary filterButton">
    <input type="radio" name="filter_options_1" value="guidance" autocomplete="off"> guidance
  </label>
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons" id="filter_options_2">
  <label class="btn btn-secondary filterButton">
    <input type="radio" name="filter_options_2" value="publishers" autocomplete="off" > publishers
 </label>
 <label class="btn btn-secondary filterButton active">
   <input type="radio" name="filter_options_2" value="publishers_users" autocomplete="off" checked> both
 </label>
 <label class="btn btn-secondary filterButton">
   <input type="radio" name="filter_options_2" value="users" autocomplete="off"> users
 </label>
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons" id= "filter_options_3">
  <label class="btn btn-secondary filterButton">
    <input type="radio" name="filter_options_3" value="technical" autocomplete="off" > technical
  </label>
  <label class="btn btn-secondary filterButton active">
    <input type="radio" name="filter_options_3" value="technical_non-technical" autocomplete="off" checked> both
  </label>
  <label class="btn btn-secondary filterButton">
    <input type="radio" name="filter_options_3" value="non-technical" autocomplete="off"> non technical
  </label>
</div>

<div class="row marketing">
  <div class="col-lg-12">
    {% for project in site.projects %}
    <div class="filterDiv no_show{% for tag in project.tags %} {{ tag }}{% endfor %}"><p><a href="{{ project.link }}">{{ project.title }}</a> - {{ project.content | remove: '<p>' | remove: '</p>' }}</p></div>
    {% endfor %}
  </div>
</div>
