---
---

/* Space out content a bit */
body {
  /* padding-top: 1.5rem; */
  background-color: #ececec;
}

blockquote {
  border-left: 5px lightgrey solid;
  padding-left: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
  }
}

.img-caption {
  max-width: 50%;
  float: right;
  margin: 15px;
  border: 1px solid #bbb;
  box-shadow: 2px 2px 10px #bbb;

  img {
    max-width: 100%;
  }
  p.caption {
    background-color: #fff;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
  }
  p.caption-no-url {
    color: #000;
  }
}

@media (max-width: 767px) {
  .img-caption {
    max-width: 100%;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 0;
  padding: 0 1rem;
  background-color: transparent;

  p.lead {
    font-size: 1.8rem;
  }
}

.posts .post {
  margin: 10px auto;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.container-body {
  padding: 2rem 2rem 2rem 2rem;
}
.container-page {
  background-color: #ffffff;
}
footer {
  margin-top:auto!important;
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  border-top: .05rem solid #e5e5e5;
}

