<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if page and page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" href="/favicon.ico">
    <title>{% if page.url == '/'%}{{ site.title }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ site.github.url }}">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ site.github.url }}/assets/css/codeforiati.css?v={{ site.github.build_revision }}" rel="stylesheet">

    {% if page.collection == 'posts' %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.excerpt }}">
    <meta name="twitter:image" content="{{ site.github.url }}/assets/img/logo-square.png?v={{ site.github.build_revision }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.github.url }}{{ page.url }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.excerpt }}">
    <meta property="og:image" content="{{ site.github.url }}/assets/img/logo-square.png?v={{ site.github.build_revision }}">
    {% else %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.github.url }}/assets/img/logo-square.png?v={{ site.github.build_revision }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.github.url }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.github.url }}/assets/img/logo-square.png?v={{ site.github.build_revision }}">
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-light bg-light navbar-expand-lg header">
      <div class="container">
        <a class="navbar-brand" href="{{ site.github.url }}/">
          <img src="{{ site.github.url }}/assets/img/logo.png?v={{ site.github.build_revision }}" alt="{{ site.title }}" width="100px" />
        </a>
        <button type="button" aria-label="Toggle navigation" aria-controls="navbar-collapse" aria-expanded="false" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbar-collapse" class="navbar-collapse collapse" style="display: none;">
          <ul class="nav nav-pills ml-auto ">
            {% for item in site.navigation %}
            <li class="nav-item">
              <a class="nav-link{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">{{ item.title }}{% if page.url == item.url %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {{ content }}
    </div>

    <footer class="footer">
      <div class="container">
        <hr />
        <div class="row">
          <div class="col-md-6">
            <a class="text-muted" href="/code-of-conduct">Code of Conduct</a>
          </div>
          <div class="col-md-6 ml-auto text-right">
            <a class="text-muted" href="https://github.com/codeforIATI/codeforiati.github.io/">Edit on Github</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
